div(style="padding: 50px; font-family: 'Helvetica Neue', 'Lucida Grande', 'Arial'")
  h1(style="font-size: 60px;") Error   
  h2(style="margin: 10px 0;")
    em #{error.statusCode}
  h3(style="margin: 10px 0;") Source: #{error.source || 'N/A'}
  div
    strong code: 
    span(style="margin-left: 10px 0;") #{error.code || 'N/A'}
  pre #{JSON.stringify(error.message)}
  pre #{error.stack}
   